@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400;1,700&display=swap') ;

.header-title {
  color: white;
  display: block;
  font-family: Space Mono , monospace;
  font-size: 70px;
  margin-top: 60px;
  text-align: center;
}
